{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            background: url("{% static 'img/carousel-2.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для контейнера */
        }
        .login-form {
            width: 100%;
            max-width: 400px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
        }
    </style>
    <div class="login-container">
        <div class="login-form">
            <h1 class="text-center">Login Page</h1>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p>{{ form.errors.error }}</p>
                </div>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {{ form }}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'password_reset' %}">Forgot Password</a>
            </div>
        </div>
    </div>
{% endblock %}